{#
        Space status

        Can show different messages for an open
        or closed space.
        Is triggered via JavaScript XHR Scripts and  simple CSS Magic
#}
<div class="tooltip">
  <a id="space-opened" class="button space-opened navbar special" href="
    {{- translator('api_url', 'translate', this.alt) }}">
    {{- translator('api_space', 'translate', this.alt) }} {{
    translator('api_open', 'translate', this.alt)  -}}
  </a>
  <span class="tooltiptext">
    {{- translator('api_open_text', 'translate', this.alt) -}}
  </span>
</div>

<div class="tooltip">
  <a id="space-closed" class="space-closed" href="
    {{- translator('api_url', 'translate', this.alt) -}}">
    {{- translator('api_space', 'translate', this.alt) }} {{
    translator('api_closed', 'translate', this.alt) -}}
  </a>
  <span class="tooltiptext">
    {{- translator('api_opening_time', 'translate', this.alt) -}}
  </span>
</div>
