:root {
  --primary-waffle-fontcolor:#ffac33;
  --secoundary-waffle-fontcolor:white;
  --light-waffle-accent:rgba(5, 0, 12, 0.8);
  --href-waffle-fontcolor:rgb(230, 79, 45);
  --primary-waffle-accent:rgba(87, 5, 0, 0.9);
  --blog-waffle-accent:rgba(155, 22, 15, 0.95);
  --secoundary-waffle-accent:#CD4701;
  --third-waffle-accent:#9B160F;
  --rows-waffle-accent-even:#ff9333;
  --rows-waffle-accent-odd:#ffac33;
  --menu-waffle-accent:#ff9333;
  --footer-waffle-accent:rgba(23, 24, 32, 1);
  --waffel-background-color:#1c1d26;
  --column-count:3;
}
