{% macro render_blog_post(post, from_index=false, section_class='-odd') %}
    <section class="content {{ section_class }}">
        <div class="content__box -heading">
            <div class="content__inner_box">
                {% if from_index %}
                    <h2><a class="content__blog_link {{ section_class }}" href="{{ post|url }}">{{ post.title }}</a></h2>
                {% else %}
                    <h2>{{ post.title }}</h2>
                {% endif %}
                <hr class="{{ section_class }}">
                <p class="content__meta">
                    <i>geschrieben von {{ post.author }} am {{ post.pub_date }}</i>
                </p>
            </div>
        </div>
        <div class="content__box -columns">
            <div class="content__inner_box">
                {{ post.body }}
            </div>
        </div>
    </section>
{% endmacro %}
