{% macro render_pagination(pagination) %}
<section id="two" class="wrapper alt spotlight style2">
  <div class="inner">
    <style>
      #two li {
        list-style: none;
      }
    </style>
    <ul class="pagination">
    {% if pagination.has_prev %}
      <li><a href="{{ pagination.prev|url }}" class="button small disabled">Zur&uuml;ck</a></li>
    {% else %}
      <li><span class="button small disabled">Zur&uuml;ck</span></li>
    {% endif %}
      <li><a href="#" class="page active">{{ pagination.page }}</a></li>
    {% if pagination.has_next %}
      <li><a href="{{ pagination.next|url }}" class="button small">Weiter</a></li>
    {% else %}
      <li><span class="button small disabled">Weiter</span></li>
    {% endif %}
    </ul>
  </div>
</section>

{% endmacro %}
