/* Basic */
html,
body {
  background: _palette(bg);

  @include breakpoint(phablet) {
    overflow-x: hidden;
  }

  @include breakpoint(mobileonly) {
    min-width: 320px;
  }
}

body {
  &.is-loading {
    *,
    *::before,
    *::after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }

  @include breakpoint(phablet) {
    &.navPanel-visible {
      #page-wrapper {
        @include vendor('transform', 'translateX(#{_size(navPanel)})');
      }

      #titleBar {
        @include vendor('transform', 'translateX(#{_size(navPanel)})');
      }

      #navPanel {
        @include vendor('transform', 'translateX(0)');
      }
    }
  }
}

body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 15pt;
  font-weight: _font(weight);
  line-height: 1.75em;

  @include breakpoint(desktop) {
    font-size: 13pt;
  }

  @include breakpoint(laptop) {
    font-size: 12pt;
  }

  @include breakpoint(tablet) {
    font-size: 12pt;
  }

  @include breakpoint(phablet) {
    font-size: 12pt;
  }

  @include breakpoint(mobileonly) {
    font-size: 12pt;
  }
}

a {
  @include vendor('transition', ('border-color #{_duration(transition)} ease-in-out', 'color #{_duration(transition)} ease-in-out'));

  color: _palette(link);
  text-decoration: none;

  &:hover {
    color: _palette(accent1) !important;
    border-bottom-color: transparent;
  }
}

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
  line-height: 1em;
  margin: 0 0 (_size(element-margin) * 0.5) 0;

  a {
    color: inherit;
    border: 0;
  }
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: -0.025em;

  @include breakpoint(phablet) {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;

  @include breakpoint(phablet) {
    font-size: 1.2em;
  }
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;

  @include breakpoint(phablet) {
    font-size: 1em;
  }
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px _palette(border);
  margin: (_size(element-margin) * 1.5) 0;

  &.major {
    margin: (_size(element-margin) * 2) 0;
  }
}

blockquote {
  border-left: solid 4px _palette(border);
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0 _size(element-margin) 0;

  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

