/* Section/Article */
section,
article {
  &.special {
    text-align: center;
  }
}

header {
  p {
    color: _palette(fg-bold);
    position: relative;
    margin: 0 0 (_size(element-margin) * 0.75) 0;

    @include breakpoint(phablet) {
      br {
        display: none;
      }
    }
  }

  h2 + p {
    font-size: 1.25em;
    margin-top: (_size(element-margin) * -0.5);
    line-height: 1.75em;

    @include breakpoint(phablet) {
      font-size: 1em;
    }
  }

  h3 + p {
    font-size: 1.1em;
    margin-top: (_size(element-margin) * -0.4);
    line-height: 1.75em;

    @include breakpoint(phablet) {
      font-size: 1em;
    }
  }

  h4 + p,
  h5 + p,
  h6 + p {
    font-size: 0.9em;
    margin-top: (_size(element-margin) * -0.3);
    line-height: 1.5em;

    @include breakpoint(phablet) {
      font-size: 0.9em;
    }
  }

  &.major {
    margin: 0 0 (_size(element-margin) * 2) 0;
    position: relative;
    text-align: center;

    @include breakpoint(phablet) {
      margin: 0 0 _size(element-margin) 0;
    }

    &::after {
      background: _palette(accent1);
      content: '';
      display: inline-block;
      height: 0.2em;
      max-width: 20em;
      width: 75%;
    }
  }
}

footer {
  &.major {
    margin: (_size(element-margin) * 2) 0 0 0;
  }
}

