/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  @include vendor('appearance', 'none');
  @include vendor('transition', ('background-color #{_duration(transition)} ease-in-out', 'color #{_duration(transition)} ease-in-out', 'box-shadow #{_duration(transition)} ease-in-out'));

  background-color: transparent;
  border-radius: _size(border-radius);
  border: 0;
  box-shadow: inset 0 0 0 2px _palette(border);
  color: _palette(fg-bold) !important;
  cursor: pointer;
  display: inline-block;
  font-weight: _font(weight-bold);
  height: _size(element-height);
  line-height: _size(element-height);
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include breakpoint(mobileonly) {
    padding: 0;
  }

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 1px _palette(accent1);
    color: _palette(accent1) !important;
  }

  &:active {
    background-color: transparentize(_palette(accent1), 0.85);
  }

  &.icon {
    &::before {
      margin-right: 0.5em;
    }
  }

  &.fit {
    display: block;
    margin: 0 0 (_size(element-margin) * 0.5) 0;
    width: 100%;
  }

  &.small {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1.35em;
  }

  &.special {
    background-color: _palette(accent1);
    box-shadow: none;
    color: _palette(fg-bold) !important;

    &:hover {
      background-color: lighten(_palette(accent1), 5);
    }

    &:active {
      background-color: darken(_palette(accent1), 5);
    }
  }

  &.disabled,
  &:disabled {
    background-color: _palette(border) !important;
    box-shadow: none !important;
    color: _palette(fg-bold) !important;
    cursor: default;
    opacity: 0.25;
  }

  &.tb-opened {
    background-color: LimeGreen !important;

    &.navbar {
      margin-left: -15px;
    }
  }
}

.tb-closed {
  color: #d23128ff;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 230px;
  margin-left: -100px;
  font-size: 0.9em;
  background-color: #555;
  line-height: normal;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: 100%;
  left: 50%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
