/* Columns */
.col-2 {
  column-count: 2;
  column-gap: 1vw;
  height:auto;
  > .button {
    padding: 0;
  }
  &.long {
    @include breakpoint(phablet) {
      column-count: 1;
    }
  }
}

.col-3 {
  column-count: 3;
  column-gap: 1vw;
  height:auto;
  > .button {
    padding: 0;
  }
  @include breakpoint(phablet) {
    column-count: 2;
  }
  &.long {
    @include breakpoint(phablet) {
      column-count: 1;
    }
  }
}

.col-4 {
  column-count: 4;
  column-gap: 1vw;
  height:auto;
  > .button {
    padding: 0;
  }
  @include breakpoint(phablet) {
    column-count: 2;
  }
}
