/* Icon */
.icon {
  @include icon;

  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }

  &.alt {
    @include line-icon;
  }

  &.major {
    background: _palette(accent2);
    border-radius: 0%;
    cursor: default;
    display: inline-block;
    height: 6em;
    line-height: 6em;
    margin: 0 0 _size(element-margin) 0;
    text-align: center;
    width: 6em;

    &::before {
      font-size: 2.25em;
    }

    &.alt {
      @include line-icon(_palette(accent2));
    }
  }
}

.iconshiftdown {
  line-height: 2;
}

@for $i from 5 through 10 {
  .iconshift-right-#{$i} {
    margin-left: $i * 1px;
  }
}

