/* Image */
.image {
  border-radius: _size(border-radius);
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  img {
    border-radius: _size(border-radius);
    display: block;
  }

  &.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }

  &.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }

  &.left,
  &.right {
    max-width: 40%;

    img {
      width: 100%;
    }
  }

  &.fit {
    display: block;
    margin: 0 0 _size(element-margin) 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &.mapid {
    height: 70vh;
  }
}

