
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^rezepte.xml https://c3woc.de/feed_rezepte.xml
    RewriteRule ^feed.xml https://c3woc.de/feed_blog.xml
    RewriteRule ^equipment https://c3woc.de/kontakt/
    RewriteRule ^hunger https://c3woc.de/#tourdaten
    RewriteRule ^rezepte https://c3woc.de/rezept

    ### Redirect certain domains to c3woc.org
    RewriteCond %{HTTP_HOST} ^waffel\.cyber\.yt [NC,OR]
    RewriteCond %{HTTP_HOST} ^www\.c3woc\.de [NC]
    RewriteCond %{HTTP_HOST} ^angel\.systems [NC]
    RewriteRule (.*) https://c3woc.org/$1 [R=302,L]
</IfModule>

# COMPRESSION WITH MOD_DEFLATE
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/atom_xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>

# CACHE-DURATIONS
# turns cache on for 1 month
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType application/x-font-woff "access plus 1 month"
</IfModule>

