{%- for child in post.children -%}
  {%- if child._template == 'zutaten.yaml' -%}
    {%- if child.render_hygiene | default(True) -%}
      <div class="content__box">
        <div class="content__inner_box">
          <h2 id="hygiene">Open Recipe Format</h2>
          <p>Beim C3WOC lieben wir Offene Daten und Standards. <br/>
            Daher gibt es nun alle hier veröffentlichten Rezepte auch im "<a href="https://open-recipe-format.readthedocs.io/en/latest/">Open Recipe Format</a>".<br/>
            Diess findet ihr für "{{ child.title }}" auf <a href="{{ './rezept.yaml' | url(external=true) }}">{{ './rezept.yaml' | url(external=true) }}</a>.
          </p>
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
