{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a class="image"><img src="{{ '/images/c3woc/c3woc.svg'|url }}" alt="" /></a>
      <div class="content">
        <h2 class="major">{{ this.title }}</h2>
        <a>Waffeltastische Neuigkeiten. Jetzt auch als </a><a href="{{ '/feed.xml'|url }}">RSS  <span class="icon fa-rss"></span></a>
  </div>
</section> 
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
