{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<link rel="stylesheet" href="fullcalendar.min.css">
<script src="jquery-3.3.1.min.js"></script>
<script src="moment.min.js"></script>
<script src="fullcalendar.min.js"></script>
<script src="ical.min.js"></script>
<script src="calendarview.js"></script>
<script src="de.js"></script>
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    height: 1000,
    defaultView: 'month',
    timezone: 'local',
    weekends: true
  });
  $('#calendar').fullCalendar('addEventSource', ical_event_source('{{ this.kalender_id }}', 'green', ''));
  setInterval(() => $('#calendar').fullCalendar('refetchEvents'), 5 * 60 * 1000);
  setInterval(() => $('#calendar').fullCalendar('gotoDate', moment()), 30 * 60 * 1000);
});
</script>
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>{{ this.title }}</h2>
      <p>{{ this.slogan }}</p>
    </header>
   <!-- Content -->
    <section id="content">
      <div class="col-2">
        <a href="{{ this.ics_url }}" class="button fit">{{ this.ics }}</a>
        <a href="{{ this.web_url }}" class="button fit">{{ this.web }}</a>
      </div>
      {{ this.content }}
    </section>
  </div>
</div>
{% endblock %}
