<!doctype html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
 <link rel="stylesheet" href="{{ '/css/main.css'|url }}" />
 <!--[if lte IE 9]><link rel="stylesheet" href="{{ '/css/ie9.css'|url }}" /><![endif]-->
 <noscript><link rel="stylesheet" href="{{ '/css/noscript.css'|url }}" /></noscript>
 <title>{% block title %}Welcome{% endblock %} c3woc</title>
 <!-- Quellcode: https://git.see-base.de/l3d/c3woc  -->
</head>
<body>

  <div id="wrapper">
    <header id="header">
      <div class="logo">
        <span class="icon fa-heart"></span>
      </div>
      <div class="content">
        <div class="inner">
          <img style="width: 100%; margin-top: -23px;" src="{{ '/images/logo/c3woc.svg'|url }}" />
          <p>Das C3 Waffel Operation Center. <br/>Wir machen Waffeln.</p>
        </div>
      </div>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}#Cyber">Willkommen</a></li>
          {% for href, title in [
            ['/blog', 'Blog'],
            ['/projects', 'Projekte'],
            ['/about', 'Impressum']
          ]
          %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}#Cyber">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div id="main">
      <article id="Cyber">
          {% block body %}{% endblock %}
      </article>
    </div>
    <footer id="footer">
      &copy; Copyright 2018 by L3D | News <a href="{{ '/feed.xml'|url }}" title="RSS Feed" class="icon fa-rss" style="font-size: 1.2em; padding-left: 5px;"></a>
    </footer>
  </div>
  <div id="bg"></div>
  <!-- Scripts -->
    <script src="{{ '/js/jquery.min.js'|url }}"></script>
    <script src="{{ '/js/skel.min.js'|url }}"></script>
    <script src="{{ '/js/util.js'|url }}"></script>
    <script src="{{ '/js/main.js'|url }}"></script>
</body>
