{% extends "layout.html" %}
{% block expand_header %}
    <link rel="stylesheet" href="/css/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="/js/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <link rel="stylesheet" href="https://toolbox.cyber.yt/css/spacestatus.css" />
    <link rel="stylesheet" href="https://see-base.de/css/space_api.css" />
{% endblock %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
                <section class="wrapper alt spotlight style2">
                  <div class="inner">
                    <div class="content">
                      <h2 class="major">{{ this.title }}</h2>
                      {{ this.spruch }}
                    </div>
                  </div>
                </section>

                <!-- Content -->
                <div class="wrapper">
                  <div class="inner">
                    <h3 class="major">{{ this.subtitle }}</h3>
<!-- Content -->
    <section id="content">

    <div id="mapid" class="image fit" style="width: auto; height: 70vh; z-index: 1;"></div>

<script>
    var mymap = L.map('mapid').setView([47.7123, 9.3995], 9);

var greenIcon = L.icon({
    iconUrl: '/images/map.png',
    shadowUrl: '/images/map-shadow.png',

    iconSize:     [52, 60], // size of the icon
    shadowSize:   [60, 60], // size of the shadow
    iconAnchor:   [26, 62], // point of the icon which will correspond to marker's location
    shadowAnchor: [2, 55],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});


	L.tileLayer('https://tiles.ffbsee.de:9090/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> ' 
	}).addTo(mymap);


	L.marker([47.71234, 9.39956], {icon: greenIcon}).addTo(mymap)
    .bindPopup("<aside><h3 style='color: black;'>Waffellager Bodensee:</h3><img src='/equipment/eisen.jpg'></img><br/><center>Kleines Waffeleisen</center></aside>").openPopup();

	L.marker([47.77243, 9.19943], {icon: greenIcon}).addTo(mymap)
    .bindPopup("<aside><h3 style='color: black;'>Waffellager Bodensee:</h3><img src='/equipment/doppeleisen.jpg'></img><br/><center>Großes Waffeleisen</center></aside>").openPopup();


L.polygon([
		[47.77244138, 9.19947267],
		[47.77241975, 9.19938147],
		[47.77244499, 9.19931710],
		[47.77252791, 9.19920444],
		[47.77259641, 9.19923663],
		[47.77260001, 9.19926345],
		[47.77249907, 9.19939756]],
        {
        color: '#5eba5e',
		fillColor: '#5eba5e',
		fillOpacity: 0.5
        }).addTo(mymap).bindPopup("<aside><b>see-base</b><br /><a id='sb-closed' class='special button' style='background: FireBrick;'>Hackerspace geschlossen!</a><a id='sb-opened' class='special button' style='background-color: LimeGreen !important;'>Hackerspace offen!</a></aside>");
    L.circle([47.77243191425533, 9.199432432651522], 2, {
		color: 'blue',
		fillColor: 'blue',
		fillOpacity: 0.5
	}).addTo(mymap).bindPopup("Eingang");



    L.polygon([
		[47.71242900, 9.39956546],
		[47.71231350, 9.39980686],
		[47.71222687, 9.39971030],
        [47.71229545, 9.39956009],
        [47.71223409, 9.39949036],
		[47.71227740, 9.39939916]], {
        color: 'orange',
		fillColor: 'orange',
		fillOpacity: 0.5
        }).addTo(mymap).bindPopup("<aside><b>Toolbox Bodensee e.V.</b><br /><a id='tb-closed' class='special button' style='background: FireBrick;'>Vereinsheim geschlossen!</a><a id='tb-opened' class='special button' style='background-color: LimeGreen !important;'>Vereinsheim offen!</a></aside>");

    L.circle([47.71229545, 9.39956009], 2, {
		color: 'red',
		fillColor: 'red',
		fillOpacity: 0.5
	}).addTo(mymap).bindPopup("Eingang");

</script>
        <br/> 
                    
                    {{ this.body }}
                  </div>
                </div>

{% endblock %}
