{% extends "header_slim.html" %}
{%- block title -%}{{ this.title }}{%- endblock -%}
{%- block meta_description -%}
  {%- if this.meta_description is defined and this.meta_description != "" -%}
    {{- this.meta_description -}}
  {%- else -%}
    C3 Waffel Operation Center
  {%- endif -%}
{%- endblock -%}
{%- block body %}
    <div class="content__box">
      <div class="content__inner_box">
        <h1>{{ this.title }}</h1>
      </div>
    </div>
    <section class="content -odd">
      <div class="content__box">
        <div class="content__inner_box -width_constraint">
          {{ this.body }}
        </div>
      </div>
    </section>
{%- endblock -%}
