{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>{{ this.title }}</h2>
      <p>{{ this.slogan }}</p>
    </header>
<!-- Content -->
    <section id="content">
      <h2>{{ this.p1 }}</h2>{%
      if this.press_1 %}
      <div class="table-wrapper">
        <table><tbody>
        {% for blk in this.press_1.blocks %}
          {{ blk }}
        {% endfor %}
        </tfoot>
        </table>
      </div>{%
      endif %}
      <h2>{{ this.p2 }}</h2>{%
      if this.press_2 %}
      <div class="table-wrapper">
        <table><tbody>
        {% for blk in this.press_2.blocks %}
          {{ blk }}
        {% endfor %}
        </tfoot>
        </table>
      </div>{%
      endif %}
      <h2>{{ this.p3 }}</h2>{%
      if this.press_3 %}
      <div class="table-wrapper">
        <table><tbody>
        {% for blk in this.press_3.blocks %}
          {{ blk }}
        {% endfor %}
        </tfoot>
        </table>
      </div>{%
      endif %}
      <h2>{{ this.p4 }}</h2>{%
      if this.press_4 %}
      <div class="table-wrapper">
        <table><tbody>
        {% for blk in this.press_4.blocks %}
          {{ blk }}
        {% endfor %}
        </tfoot>
        </table>
      </div>{%
      endif %}
      <h2>{{ this.p5 }}</h2>{%
      if this.press_5 %}
      <div class="table-wrapper">
        <table><tbody>
        {% for blk in this.press_5.blocks %}
          {{ blk }}
        {% endfor %}
        </tfoot>
        </table>
      </div>{%
      endif %}
        
        {{ this.content }}
    </section>
  </div>
</div>
{% endblock %}
