{% extends "layout.html" %}
{% from "macros/projekt.html" import render_blog_post %}
{% block title 
  %}{{ this.title }}{%
endblock %}
{% block body %} 
<section id="four" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major">
        <h2>{{ this.title }}</h2>
        <p>{{ this.description }}</p>
    </header>
    <section id="content">
      {{ this.begruessung }}
    </section>
     <header class="major">
        <h2>{{ this.title2 }}</h2>
        {{ this.description2 }}
    </header>
    <div class="box alt">
      <div class="row uniform">{%
        for child in this.pagination.items|sort(attribute='number', reverse = True) %}
          {{ render_blog_post(child, from_index=true) }}
      {% endfor %} 
      </div>
     <footer class="major">
	    <ul class="actions special">
            <li><a href="{{ '/feed_projekte.xml'|url }}" class="button">{{ this.abo }}</a></li>
            {{ this.trailer }}
        </ul>
      </footer>
   </div>
 </div>
</section>
{% endblock %}
{% block expand_description %}
    <meta name="description" content="{% 
        if this.desc %}{{ this.desc }}{% else %}{%
            if bag('translate', this.alt, 'description') %}{{ bag('translate', this.alt, 'description') }}{% 
            else %}{{ bag('translate', 'de', 'description') }}{% endif %}
        {% endif %}" />
{% endblock %}
